@import "_variables.less";
@import "mixin.less";

.game {
  width: 200px;
  height: 400px;
  background-color: @bgColor;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  position: absolute;
  top: 10px;
  left: 10px;
}

.next {
  width: 80px;
  height: 80px;
  background-color: @bgColor;
  position: absolute;
  top: 10px;
  left: 250px;
  .border-1px(blue);
}

.info {
  position: absolute;
  top: 100px;
  left: 250px;
}

.none, .current, .done {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  position: absolute;
}

.none {
  background-color: @bgColor;
}

.current {
  background: pink;
  .border-1px(red);
}

.done {
  background: grey;
  .border-1px(black);
}